html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
/* стили шахматной достки */
.wrapper-field {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  height: 100%;
}
.chess-cell {
  width: 12.5%;
  box-sizing: border-box;
}
.yellow-bg {
  background-color: #ffd063;
}
.brown-bg {
  background-color: #c8623c;
}
/* стили коня + подсветка возможных его ходов */
.horse {
  width: 12.4%;
  height: 12.4%;
  background: url(../img/horse_logo.png) no-repeat center;
  background-size: cover;
  position: absolute;
  cursor: pointer;
  box-sizing: border-box;
}
.variant-for-jump {
  background-color: #a9efff !important;
  cursor: pointer;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.5);
}

/* стили пешки и все что с ней связано */
.create-pawns {
  position: absolute;
  display: flex;
  /* flex-direction: column; */
}
.black-pawn-creator {
  background: url(../img/pawn_black.png) no-repeat;
  background-size: cover;
}
.white-pawn-creator {
  background: url(../img/pawn_white.png) no-repeat;
  background-size: cover;
}
